<app-map [position]="position"></app-map>
<div>
	<ul>
		<li><strong>IP:</strong> {{ data.ip }}</li>
		<li><strong>Network:</strong> {{ data.network }}</li>
		<li><strong>Version:</strong> {{ data.version }}</li>
		<li><strong>City:</strong> {{ data.city }}</li>
		<li><strong>Region:</strong> {{ data.region }}</li>
		<li><strong>Region Code:</strong> {{ data.region_code }}</li>
		<li><strong>Country:</strong> {{ data.country }}</li>
		<li><strong>Country Name:</strong> {{ data.country_name }}</li>
		<li><strong>Country Code:</strong> {{ data.country_code }}</li>
		<li><strong>Country Code ISO3:</strong> {{ data.country_code_iso3 }}</li>
		<li><strong>Country Capital:</strong> {{ data.country_capital }}</li>
		<li><strong>Country TLD:</strong> {{ data.country_tld }}</li>
		<li><strong>Continent Code:</strong> {{ data.continent_code }}</li>
		<li><strong>In EU:</strong> {{ data.in_eu }}</li>
		<li><strong>Postal:</strong> {{ data.postal }}</li>
		<li><strong>Latitude:</strong> {{ data.latitude }}</li>
		<li><strong>Longitude:</strong> {{ data.longitude }}</li>
		<li><strong>Timezone:</strong> {{ data.timezone }}</li>
		<li><strong>UTC Offset:</strong> {{ data.utc_offset }}</li>
		<li><strong>Country Calling Code:</strong> {{ data.country_calling_code }}</li>
		<li><strong>Currency:</strong> {{ data.currency }}</li>
		<li><strong>Currency Name:</strong> {{ data.currency_name }}</li>
		<li><strong>Languages:</strong> {{ data.languages }}</li>
		<li><strong>Country Area:</strong> {{ data.country_area }}</li>
		<li><strong>Country Population:</strong> {{ data.country_population }}</li>
		<li><strong>ASN:</strong> {{ data.asn }}</li>
		<li><strong>Organization:</strong> {{ data.org }}</li>
	</ul>
</div>